.DS_Store
__pycache__/
*.pyc
.tmp_mplconfig/
*_work/
_tmp*/
*.zip
ext1_raw_trace_files/
ext2_raw_trace_files/
ret_raw_trace_files/
*_pipeline_output/
*_transition_output/
sample_data/Ext2_cellClassifications_long.csv
sample_data/Ext2_classes_proportions_perAnimal.csv
sample_data/ext2_classes/
sample_data/sample_ext1_zscored_npz_part1.zip
sample_data/sample_ext2_raw_trace_files.zip
sample_data/sample_ret_raw_trace_files.zip
sample_data/sample_ret_zscored_npz_bundle.zip
